html,
body {
  font-family: "Pretendard";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.tag {
  color: #ed0c0c;
  font-weight: 700;
  font-size: 20px;
}

.text-title {
  font-size: 33px;
  font-weight: bold;
  color: #191919;
}
.text-1 {
  font-size: 16px;
  font-weight: 700;
  color: #191919;
}
.text-2 {
  width: 70%;
  font-size: 16px;
  color: #6a6a6a;
}

.pre {
  font-size: 18px;
}

.pre-title {
  font-size: 24px;
  font-weight: 700;
}

.recipe-box {
  width: 70%;
  text-align: center;
}
.item-info {
  background-color: #f6f6f6;
  border-radius: 20px;
  width: 400px;
  padding: 25px;
  margin-right: 20px;
}
.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.food-info {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 754px) {
  .pre-item {
    display: flex;
    justify-content: center;
  }
  .title-area {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .detail-img {
    width: 95%;
    min-width: 400px;
    height: 380px;
    background-size: cover;
    border-radius: 25px;
    background-position: center;
  }

  .button {
    border: 1px solid #616161;
    width: 40%;
    max-width: 280px;
    height: 54px;
    border-radius: 5px;
    color: #616161;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .button-jjim {
    border: 1px solid #ed0c0c;
    width: 40%;
    max-width: 280px;
    height: 54px;
    border-radius: 5px;
    color: #ed0c0c;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .button-two {
    display: flex;
  }

  hr {
    background: rgb(144, 144, 144);
    height: 1px;
    border: 0;
  }
  .item-start {
    width: 830px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

  .recipe-img {
    width: 70%;
    height: 230px;
    background-size: cover;
    border-radius: none;
    margin-left: auto;
  }

  .step-text {
    font-weight: bold;
    font-size: 28px;
  }
  .step-small-text {
    font-weight: 500;
    font-size: 18px;
  }

  .mo-detail-top-section {
    display: none;
  }
}
@media (max-width: 768px) {
  .pre-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .detail-top-section {
    display: none;
  }

  .mo-detail-top-section {
    top: 0;
    width: 100%;
  }
  .detail-page-mo-img {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 350px;
    background-size: cover;
  }

  .mo-recipe-info {
    padding: 20px;
  }
  .detail-img {
    width: 100vw;
    top: 0;
    height: 350px;
    background-size: cover;
    border-radius: 25px;
  }
  .mo-text-2 {
    width: 90%;
  }
  .title-area {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .button {
    border: 1px solid #616161;
    width: 50%;
    max-width: 280px;
    height: 54px;
    border-radius: 5px;
    color: #616161;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-two {
    margin-top: 40px;
    display: flex;
  }
  .step-text {
    width: 100%;
    font-weight: bold;
    font-size: 28px;
  }

  .mo-page-button {
    border: 1px solid #616161;
    width: 50%;
    max-width: 280px;
    height: 54px;
    border-radius: 5px;
    color: #616161;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .mo-page-button-jjim {
    border: 1px solid #ed0c0c;
    width: 50%;
    max-width: 280px;
    height: 54px;
    border-radius: 5px;
    color: #ed0c0c;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .item-start {
    width: 830px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
  .item-info {
    width: 100vh;
    margin: 20px;
  }
}

.com-box {
  display: flex;
  justify-content: center;
}
