.carousel-container2{
    overflow: hidden;
    height:440px;
     width:100%; 
    
   
}
.slidertitle{
    text-align:center;
    margin-top:10px;
    padding:15px;
}

@media(max-width:180px){
    .carousel-container{
        height:330px;
        display:flex;
        justify-content:space-between;
    }
}