/* BookmarkSlider */
.card_list{
    display:flex;
    justify-content:center;
}
.bookmarknotslidercard_container{
    margin-right:20px;
}
.card_img_booknotslidercard{
    width:auto;
    height:75%;
    border-radius:25px 25px 0 0;
}
@media(orientation:portrait){
    .card_list{
        display:flex;
       flex-direction:column;
    }
    .bookmarknotslidercard_container{
        margin-right:20px;
        margin-left:20px;
    }
}