.todays_menu{
   
    font-weight:600;
}

.slidertitle_big{
   text-align:center;
}

.randomslide_img{
    display:flex;
    justify-content:flex-end;
}

.random_img_style{
    width:650px;
    height:450px;
    border-radius:25px;
    object-fit: cover;
}

/* .random_img_style {
    max-width: 1000px; 
    max-height: 600px;
    width: auto; 
    height: auto; 
    object-fit: contain; 
    border-radius:25px;
  } */

.randomslide_rcp_nm_style{
    font-size:30px;
    font-weight:500;
    /* text-align:center; */
    color:gray;
}
.random_dtls{
    font-weight:700;
   
}
.red{
    color:red;
}
.random_rcp{
    font-size:22px;
  
}
.randomslide_col_2{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    /* align-items:center; */
    border:1px solid rgb(198, 198, 198);
    border-radius:25px;
    padding:30px;
    border-Width:'2px';
    background-color:white;
    
}
.plusmargin{
    margin-top:10px;
    margin-bottom:50px;
}
.plusmargin2{
    margin-top:10px;
    margin-bottom:50px;
}
.buttonstyle{
    display:flex;
    justify-content:flex-end;
   
}
.bigRandomSlideContainer{
    background-color:rgb(236, 236, 236);
}
.empty{
    height:400px;
    background-color:white;
}


@media(orientation:portrait){
    .random_img_style{
        max-width:500px;
        max-height:500px;
        width:350px;
        height:200px;
        width:auto;
        height:auto;
        border-radius:25px;
        padding:5px;
    }
    .randomslide_rcp_nm_style{
        font-size:23px;
        font-weight:300;
        /* text-align:center; */
        color:gray;
    }
    
    .random_rcp{
        font-size:15px;
        
    }
    .randomslide_col_2{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        /* align-items:center; */
        border:1px solid rgb(198, 198, 198);
        border-radius:25px;
        padding:20px;
        border-Width:'2px';
        background-color:white;
        width:350px;
    }
    .randomslide_img{
        display:flex;
        justify-content:center;
    }
    .plusmargin{
        margin-top:5px;
        margin-bottom:10px;
      
        
    }
    .plusmargin2{
        margin-top:5px;
        margin-bottom:10px;
        margin-left:30px;
        
    }
    .randomslide-col2-bigcontainer{
        display:flex;
        justify-content:center;
    }
}