.slidercard_url{
    width: 350px;
    height:450px;
   /* width: 100%px;
    height:400px;  */
    background-size:cover;
    cursor:pointer;
    transition:0.5s;
    border-radius:15px; 
    margin-bottom:10px;
}
.slidercard_url:hover{
    transform:scale(1.05);
}
.slidercard_rcp_nm{
    font-family: 'Pretendard';
    font-weight:400;
    font-size:24px;
}
.overlay{
    width: 100%;
    height: 100%;
    background:rgba(43,41,41,0.9);
    transition:all 1s;
    color:white;
    font-weight:bold;
    overflow-wrap:break-word;
    opacity: 0;
    /* position: absolute; 
    top: 0;
    left: 0; */
    padding: 7px; 
    box-sizing: border-box; 
}

.overlay:hover{
    /* transform:scale(1.1); */
    cursor:pointer;
    opacity: 1;

   
}

.slidercard_card_body{
    width: 250px;
    
}

.card_img{
    weight:auto;
    height:75%;
    border-radius:15px;
}

/* .card_text{
 position:relative;
 display:flex;
 border-radius:15px;

 

} */
.card-body-content{
    display:flex;
    align-items:center;
    border-radius:15px;
    justify-content:space-between;
   
}
.recipeitem{

 font-size:15px;
 color:gray;
 
}

/* .bookmark-icon-inSlidercard{
align-self:flex-end;

} */

@media (orientation:portrait){
    .slidercard_url{
        width: auto;
        height:330px;
        background-size:cover;
        cursor:pointer;
        transition:0.5s;
        border-radius:3px; 
        margin-bottom:5px;
    }
    .slidercard_url:hover{
        transform:scale(1.05);
    }
    .slidercard_rcp_nm{
        font-family: 'Pretendard';
        font-weight:400;
        font-size:20px;
    }
    .recipeitem{
        position:absolute;
        bottom: 10px;
        right: 10px;
        font-size:16px;
        
       }
}