@media screen and (max-width: 753px) {
  .top-item-card {
    background-size: cover;
    width: 97%;
    height: 260px;
    background-position: center;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .title_text {
    font-size: 1.8em;
    font-weight: 700;
    position: absolute;
    color: #ffffff;
    bottom: 20px;
    left: 40px;
  }
  .sub_text {
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    bottom: 58px;
    left: 40px;
  }

  .bookmark-icon-card {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
}

@media (min-width: 754px) {
  .top-item-card {
    width: 96%;
    height: 300px;
    border-radius: 35px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    top: -200px;
  }
  .bookmark-icon-card {
    position: absolute;
    bottom: 43px;
    right: 65px;
  }
  .title_text {
    font-size: 2em;
    font-weight: 700;
    position: absolute;
    color: #ffffff;
    bottom: 33px;
    left: 55px;
  }
  .sub_text {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    color: #ffffff;
    bottom: 76px;
    left: 55px;
  }
}

@media (min-width: 1224px) {
  .top-item-card {
    width: 96%;
    height: 375px;
    border-radius: 35px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    top: -200px;
  }
  .bookmark-icon-card {
    position: absolute;
    bottom: 43px;
    right: 65px;
  }
  .title_text {
    font-size: 2em;
    font-weight: 700;
    position: absolute;
    color: #ffffff;
    bottom: 33px;
    left: 55px;
  }
  .sub_text {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    color: #ffffff;
    bottom: 76px;
    left: 55px;
  }
}
