.carousel-container{
    overflow: hidden;
    height:440px;
   
   
}


@media(max-width:180px){
    .carousel-container{
        height:330px;
        display:flex;
        justify-content:space-between;
    }
}