.step-img {
  width: 320px;
  border-radius: 10px;
}
.recipe-step {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 100px;
}

.step-text {
  font-size: 20px;
  font-weight: 400;
  width: 80%;
}

.repeat-box {
  display: flex;
  margin-bottom: 50px;
}
.step-num {
  color: white;
  text-align: center;
  background-color: #ed0c0c;
  border-radius: 30px;
  padding: 7px 10px 7px 10px;
  font-weight: 500;
  width: 90px;
  margin-bottom: 8px;
}

@media screen and (max-width: 63rem) {
  .step-img {
    width: 228px;
    border-radius: 5px;
  }

  .step-text {
    font-size: 16px;
    font-weight: 400;
    width: 40%;
  }

  .recipe-step {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 100px;
  }
}
